* {
    font-family: JetBrainsMono Nerd Font, FiraCode Nerd Font, sans-serif;
    font-size: 14px;
}

window {
    background-color: #1e1e2e;
    border: 2px solid #45475a;
    border-radius: 12px;
    padding: 20px;
}

button {
    background-color: #313244;
    border: 2px solid #45475a;
    border-radius: 8px;
    color: #cdd6f4;
    box-shadow: none;
    margin: 8px;
    padding: 12px 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:hover {
    background-color: #45475a;
}

button.lock {
    border-color: #89b4fa;
}

button.lock:hover {
    background-color: #89b4fa;
    color: #1e1e2e;
}

button.logout {
    border-color: #f5c2e7;
}

button.logout:hover {
    background-color: #f5c2e7;
    color: #1e1e2e;
}

button.reboot {
    border-color: #cba6f7;
}

button.reboot:hover {
    background-color: #cba6f7;
    color: #1e1e2e;
}

button.shutdown {
    border-color: #f38ba8;
}

button.shutdown:hover {
    background-color: #f38ba8;
    color: #1e1e2e;
}

button.hibernate {
    border-color: #a6e3a1;
}

button.hibernate:hover {
    background-color: #a6e3a1;
    color: #1e1e2e;
}

button.suspend {
    border-color: #f9e2af;
}

button.suspend:hover {
    background-color: #f9e2af;
    color: #1e1e2e;
}

#lock {
    background-image: url("/home/sob/.local/share/wlogout/icons/lock.png");
}

#logout {
    background-image: url("/home/sob/.local/share/wlogout/icons/logout.png");
}

#suspend {
    background-image: url("/home/sob/.local/share/wlogout/icons/suspend.png");
}

#hibernate {
    background-image: url("/home/sob/.local/share/wlogout/icons/hibernate.png");
}

#shutdown {
    background-image: url("/home/sob/.local/share/wlogout/icons/shutdown.png");
}

#reboot {
    background-image: url("/home/sob/.local/share/wlogout/icons/reboot.png");
}
